.wrapperWater{
    width:100%;
    height:1000px;
    position:relative;

    
}
.name{
    position:absolute;
    top:130px;
    font-size:30px;
    font-weight: bold;
}
.discription{
    display:flex;
justify-content: center;
 width:700px;
 height:900px;
 position:absolute;
 left:50px;

}
.discriptionText{
    width:600px;
    position:absolute;
    top:200px;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
}
.slider{
    position:relative;
    left:800px;
    top:50%;
    transform: translateY(-50%);
}
.place{
    width:600px;
    position:absolute;
    top:620px;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
@media screen and (max-width: 1650px) {
.discription{
    left:50%;
    transform: translateX(-50%);
bottom:0px;

}
.wrapperWater{
    top:300px;
    height:1500px;
}
.slider{
    top:0px;
left:initial;

}
}