.wrapper{
    width:100%;
    height:1100px;
position:relative;
    /* background-image: url(./../../assets/карта.png); */
background-size: cover;
background-repeat: no-repeat;
margin-top:100px;
}
.mapNew{
    width:100%;
    top:100px;
    position:relative;

}
.map{
    font-size:50px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    height:200px;
top:-1070px;
position:relative;
left:50%;
transform: translateX(-50%);

}
.jan{
    position:absolute;
    left:550px;
    top:200px;
    /* position:relative; 
    left:-17%;
    top:-82%; */
    font-size:40px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    color:red;
}
.djur{
    position:absolute;
    left:600px;
    top:500px;
    font-size:40px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    color:red;
}
.su{
    position:absolute;
    left:950px;
    top:950px;
    font-size:40px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    color:red;
}
.kaz{
    position:absolute;
    left:1340px;
    top:530px;
    font-size:40px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    color:red;
}
.arp{
    position:absolute;
    left:1000px;
    top:200px;
    font-size:40px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    color:rgb(255, 0, 0);
}
.silv{
    position:absolute;
    left:1410px;
    top:1050px;
    font-size:40px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    color:red;
}
@media screen and (max-width: 1800px) {
     
    .map{
top:-84%;

    }
}
@media screen and (max-width: 1600px) {
     
    .map{
top:-80%;

    }
                }
@media screen and (max-width: 1500px) {
    .map{
        top:-86%;
        
            }
    .mapNew{
        height:1000px;
    }
                }
    @media screen and (max-width: 1280px) {
         
    .mapNew{
        height:800px;
    }
    .wrapper{
        height:900px;
    }
                }
    @media screen and (max-width: 1025px) {
         
    .mapNew{
        height:500px;
    }
    .wrapper{
        height:600px;
    }
                }
    @media screen and (max-width: 780px) {
        .map{
            top:-75%;
            font-size:30px;
            height:none;
                }
         
    .mapNew{
        height:400px;
    }
    .wrapper{
        height:500px;
    }
                }
    @media screen and (max-width: 500px) {
        .map{
            top:-70%;
            font-size:25px;
            height:none;
                }
         
    .mapNew{
        height:300px;
    }
    .wrapper{
        height:400px;
    }
                }
    @media screen and (max-width: 425px) {
        .map{
            top:-60%;
            font-size:20px;
            height:none;
                }
         
    .mapNew{
        height:200px;
    }
    .wrapper{
        height:300px;
    }
                }