.ModalComponents{
    background-image:url(https://pm1.narvii.com/6875/d340de628d594efe42cd9e3d71e886f39fcac431r1-1280-720v2_hq.jpg);
    width:100%;
    height:100%;
    background-size:cover;
    border-radius: 60px;
}
.continue{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:100px;
    height:60px;
    border:none;
    border-radius: 40px;
    background-color: #cced6e;
    color:#5e8884;
    font-size:20px;
}
.headingModal{
    color:black;
    font-size:38px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight:bold;
}
.bodyModalText{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    color:yellow;
    font-size:27px;
    font-family: 'Balsamiq Sans', cursive;
    font-weight:bold;
    width:400px;
    color:white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

 }
 @media screen and (max-width: 1200px) {
.headingModal{
    font-size:25px;
}
.bodyModalText{
    font-size:24px;
}
.continue{
    bottom:50px;
}
             
             }
 @media screen and (max-width: 500px) {
.headingModal{
    font-size:25px;
}
.bodyModalText{
    width:290px;
    font-size:22px;
}
.continue{
    bottom:50px;
    width:150px;
}
             
             }