.App {
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 7400px;
    width: 100%;
    position:relative;
}
@media screen and (max-width: 1650px) {
    .App {
        height: 10500px;
    }
}

@media screen and (max-width: 600px) {
     
.App{
height:10000px;
}
            }
            @media screen and (max-width: 400px) {
          .App{
              height:7800px;
          }
            
            }